/*-----------------------------------BASE.HTML CSS-------------------------------------------*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;
  }
  .header{
    /*background:radial-gradient( #9e9e9e,pink);*/
    background: white;
    /*background: radial-gradient(#ff8a80,white);*/
  }
  .home{
    background: radial-gradient(#ff8a80,white);
  }
  .header .row{
    margin-top: 70px;
  }
  .navbar{
    display:flex;
    align-items: center;
    padding: 20px;
  }
  .logo{
    color:purple;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .check_btn{
    font-size: 30px;
    color: purple;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    
  }
  .cart-img{
    width: 30px;
    border-radius: 30px;
  }
  nav{
    height: 100px;
    background-color:white ;
    /*background: radial-gradient(#ff8a80,white);*/
  }
  nav .fa{
    margin-right: 8px;
    color:palevioletred;
  }
  nav .fas{
    margin-right: 8px;
    color: palevioletred;
  }
  
  
  /*NAVBAR MENUS SETTING*/
  nav ul{
    float: right;
     margin-right:20px ; 
  }
  nav ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 5px;
  }
  nav ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    font-size: 17px;
    text-decoration: none;
    line-height: 60px;
   
  }
  nav ul li a:hover{
    background:none;
    
  }
  nav ul ul{
    position:absolute;
    top:60px;
    display: none;
  }
  nav ul li:hover > ul{
    display: block;
  }
  nav ul ul li a{
    color: white;
  }
  nav ul ul li{
    width:250px;
    float:none;
    display: list-item;
    position: relative;
    padding: 5px;
    background:black;
  }
  nav ul .search-icon{
    height:40px;
    width: 240px;
    display: inline-flex;
    background: #f2f3f2;;
    border-radius: 5px;
  }
  nav ul .search-icon input{
    height: 100%;
    width: 500px;
    padding: 0 10px;
    color:#000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
  }
  nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0 5px 5px 0;
  }
  nav ul .search-icon .icon span{
    color: #cccc;
    font-size: 16px;
  }
  .checkbtn{
    font-size: 30px;
    line-height: 80px;
    float: right;
    color:purple;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  a{
    text-decoration: none;
    color:#555;
  }
  a:hover{
    color: #ff523b;
  }
  p{
    color:#555;
  }
  
  /*FOOTER CSS*/
  footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: black;
    
  }
  .main-content{
    display: flex;
    padding:10px 20px
  }
  .main-content .box{
    flex-basis: 50%;
    padding:10px 20px
  }
  .text{
    color: white;
  }
  .fa-facebook-f, .fa-twitter{
    color:blue;
  }
  .fa-instagram{
    color: orangered;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: blueviolet;
  }
  .box .content{
    margin: 20px 0 0 0;
  }
  
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding:0 2px;
  }
  .left .content .social a span{
    height:40px;
    width:40px;
    line-height: 40px;
    text-align: center;
    background: #1a1a1a;
    font-size: 18px;
  }
  footer hr{
    border: none;
    color: white;
    height: 1px;
    margin: 20px;
  }
  .copyright{
    text-align: center;
    color:red;
  }
  .fa-map-marker-alt, .fa-phone, .fa-envelope{
    color:white
  }
  
  .menu-icon{
    width:28px;
    margin-left: 5px;
    margin-top: 0;
    position:absolute;
    display: none;
  }
  /*------------------------------------------END OF BASE.HTML CSS------------------------------*/
  