@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #e1ecf2;
}
.wrapper {
  margin: 10px;
}
.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #cfd8dc;
  /*background: #2e4ead;*/
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background: black;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover {
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
  color: #fff;
}


/*Sidebar*/
.wrapper .sidebar {
  position: fixed;
  top: 70px;
  left: 10px;
  background: linear-gradient(#83d1f3,#cfd8dc,#b39ddb);
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}
 .sidebar ul{
  position: relative;
  list-style-type: none;
}
 .wrapper .sidebar ul li a {
   display: flex;
   text-decoration: none;
   color:black;
   padding: 10px 30px;
   height: 50px;
   transition: .5s ease;
   border-radius: 0 30px;
}

.wrapper .sidebar ul li a:hover{
  background: #7986cb;
}
.sidebar ul ul{
  position: absolute;
  left: 200px;
  width: 250px;
  top:0;
  background: linear-gradient(#83d1f3,#cfd8dc);
  border-radius: 5px;
  display:none;
}
.sidebar ul span{
  position: absolute;
  right: 20px;
  font-size: 1.5em;

}
.sidebar ul .dropdown{
  position: relative;
}
.sidebar ul .dropdown:hover > ul{
  display: initial;
}
/*sub-menus code*/
.sidebar ul .dropdown-content ul{
  position: absolute;
  left: 200px;
  top: 0;

}
.sidebar ul .dropdown-content:hover ul{
  display: initial;
}

/* Container css*/
.wrapper .main_container {
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}
.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}
.fa{
  margin-right: 5px;
}
