*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: wheat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
    width: 350px;
    height: 480px;
   box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
    
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background: rgba(7,40,195,0.8);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    
    
}
.img-back{
    width:100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top:-50px;
	left: calc(50% - 50px);
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    
}
.input-box{
    font-family: "Roboto",sans-serif;
	outline: 1;
	background:#f2f2f2;
	width: 100%;
	border: 0;
	margin-top: 10px;
	padding: 12px;
	box-sizing: border-box;
	font-size:14px;
    text-align: center;
	border-radius: 20px;

}
::placeholder{
    color:cornflowerblue ;
    font-size: 12px;
}
button{
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding:10px;
	color: #FFFFFF;
	font-size:12px;
	cursor:pointer;
	border-radius: 20px;

}

.input-span{
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.error_style {
  color: red;
  display: block;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}

.input-check{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card .forget a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}

.card .message{
	margin: 15px, 0, 0;
	color: aliceblue;
	font-size: 12px;
    text-align: center;
    margin-top: 10px;
	
}
.card .message a{
	color: #4CAF50;
	text-decoration: none;
}