{%extends variable %}
{% load static %}
{%block css%}
<link rel="stylesheet" href="{%static '/css/shipping/orders.css'%}"/>
<link rel="stylesheet" href="{%static '/css/home/cart.css'%}"/>
{%endblock%}
{%block body%}
<div class="order">
<div class="small-container cart-page">
<div class="col-lg-12 ">
    {%for order_detail in orders_details%}
			<div class=" box-element">
				<div class="cart-row">
					<div style="flex:2"><strong>Product</strong></div>
                    <div style="flex:2"><strong>Product-Name</strong></div>
                    <div style="flex:2"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				

				<div class="cart-row">
					<input type="hidden" id="hidden"  value={{order_detail.id}} > 
					
					<div style="flex:2"><p><img class="cart-row-image" src="{{order_detail.products.image1.url}}"></p> </div>
                    <div style="flex:2">
						<p>{{order_detail.products}}</p>
					</div>
					<div style="flex:2" ><p id="p{{order_detail.id}}">{{order_detail.products.price}}</p></div>
                    <div style="flex:1">
						<p id="qty{{order_detail.id}}" class="quantity">{{order_detail.qty}}</p>
					</div>
                    <div style="flex:1">
						<p id="sub{{order_detail.id}}"></p>
					</div>
				</div>
			</div>
			<br>
			{%endfor%}
		</div>
		
	</div>
    </div>
</div>
{%endblock%}
{%block js%}
<script src="{%static  'javascript/home/orders.js' %}"></script>
{%endblock%}
	  
