{%extends '../base.html'%}
{% load static %}
{%block css%}
<link rel="stylesheet" href="{%static '/css/shipping/orders.css'%}"/>
<link rel="stylesheet" href="{%static '/css/home/cart.css'%}"/>
{%endblock%}
{%block body%}
<div class="container cart-page">
		{%for order in orders%}
		<div class="col-lg-12">
			<div class="box-element">
                <div class="cart-row2">
					<div style="flex:1;color:blue"><strong style="color:gray">Bill:</strong>{{order.bill}}</div>
					<div style="flex:2;color:blue"><strong style="color:gray">Order Place On:</strong>{{order.date}}</div>
					
				</div>
				<div class="cart-row">
					<div style="flex:2"><strong>Oreder ID</strong></div>
					<div style="flex:1"><strong>Status</strong></div>
					<div style="flex:1"><strong>Recieved Or Not?</strong></div>
				</div>

				<div class="cart-row">
					<div style="flex:2"><a href="{%url 'order:order_details' order.id%}"><p>{{order.id}}</p></a></div>
					{%if order.is_delivered%}
					<div style="flex:1"><p><a href="{%url 'order:order_details' order.id%}">Finished</p></a></div>
					<div style="flex:1"><a class="orders-btn " href="">Recieved</a></div>
					{%else%}
					<div style="flex:1"><p>Not Delivered Yet</p></div>
					<div style="flex:1"><a   class="orders-btn " href="{%url 'order:order_delivered' order.id%}">Recieved?</a></div>
					{%endif%}
				</div>
			</div>
			<br>
		</div>
        {%endfor%}
    </div>
{%endblock%}