{%extends '../base.html'%}
{% load static %}
{%block css%}
<link rel="stylesheet" href="{%static '/css/home/cart.css'%}"/>
{%endblock%}
{%block body%}
<div class="small-container cart-page">
<table>
    <tr>
        <th>Order id</th>
        <th>Date</th>
        <th>Bill</th>
        <th>status</th>
        <th>Confirmation</th>

    </tr>
    {%for order in orders%}
        <tr>
            <td><a href="{%url 'order:order_details' order.id%}">{{order.id}}</a></td>
            <td>{{order.date}}</td>
            <td>{{order.bill}}</td>
            {%if order.is_delivered%}
                <td>Finished</td>
                <td>Buyer has confirmed order received</td>
            {%else%}
                <td>Not delivered yet</td>
                <td><a onclick="return confirm_order()" href="{%url 'order:order_delivered' order.id%}">confirm order received</a></td>
            {%endif%}
        
        </tr>
       
    {%endfor%}


</table>
</div>
{%endblock%}
