{%extends 'Seller_Module/Seller_base.html'%}
{%block body%}
<h1>Add a new product</h1>
<form method="POST" action="{%url 'Home_Module:add_product'%}" enctype="multipart/form-data">
    {%csrf_token%}
   {{form}}
    <!-- <label>Product Name*</label>
    <input type="text" placeholder="Ex Red T-Shirt"><br>
    <label>Select Category*</label>
    <select>
        <option>Men's Fashion  </option>
        <option>Women's Fashion</option>
        <option>Electronic Devices</option>
        <option>Watches ,Bags &Jewelery</option>
        
      
    </select><br>
    <label>Brand Name*</label>
    <input type ="text" placeholder="Ex Rolex"><br>
    <label>Available quantity*</label>
    <input type="number" onkeypress="return event.charCode >= 49" min="1" >
    <label>Price*</label>
    <input type="number" onkeypress="return event.charCode >= 49" min="1" >
    <p>Uplodad atleast one and maximum 4 images</p>
    <input type="file" accept="image/*" required/><br>
    <input type="file" accept="image/*"/><br>
    <input type="file" accept="image/*"/><br>
    <input type="file" accept="image/*"/><br>
    <label>Add product Description</label>
    <textarea ></textarea> -->

 
    <button class="">submit</button>




</form>
{%endblock%}