{%extends 'Seller_Module/Seller_base.html'%}
{%load static %}

{%block css%}
<link rel="stylesheet" href="{%static '/css/seller/AllProduct.css'%}"/>
{%endblock%}
{%block body%}
<h1 class="heading">Your Products</h1>
<div style="overflow-x:auto;">
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody  class="tableBody">
           {% for i in products %}
            <tr>
                <td>  {{i.productName}} </td>
                <td>   {{i.category}} </td>
                <td>   {{i.quantity}}  </td>
                <td>   {{i.price}}  </td>
                <td><img class="small-img" src="{{i.image1.url}}">  </td>
                <td>
                <a href="{%url 'Home_Module:edit_product' i.pk %}" class="btn button2" role="button">Edit</a>
                <a href="{%url 'Home_Module:delete_product' i.pk %}" class="btn button3" role="button">Remove</a>
                </td>
             </tr>
            {% endfor %}          
        </tbody>
    </table>
</div>
{%endblock%}