{%extends 'Seller_Module/Seller_base.html'%}
{%load static %}
{%block body%}
   
    <form id="form1" action="{%url 'Home_Module:delete_product' item.pk %}" method="POST">
        {%csrf_token%}
        <h2>Remove Item!</h2><br>
        <h5> Are you sure you want to delete '{{item.productName}}'?</h5><br>  <br>
            <div class="div1"> 
               <a href="{%url 'Home_Module:seller_center' %}" class="btn buttonCancel">Cancel</a> 
               <input class="btn buttonSubmit" type="submit" value="Submit">
            </div>
    </form>
{%endblock%} 