<html>
<head>
    <title>Details</title>
    <link rel="stylesheet" href="{%static '/css/SellerDetail.css'%">
    
</head>
<body>
<div class="container">  
<h2>Detail Information</h2>
        <form method="post">
         <div class="txt_field">
            <input  type="text" placeholder="Shope Name"/>
             <span id="NameEror" class="error_style"></span>
          </div> 
        <div class="txt_field">
            <input  type="text" placeholder="Contact"/>
            <span id="NameEror" class="error_style"></span>
          </div> 
        <div class="txt_field">
            <input  type="text" placeholder="CNIC"/>
           <span id="NameEror" class="error_style"></span>
          </div>
        <div class="txt_field">
            <input  type="text" placeholder="Address"/>
            <span id="NameEror" class="error_style"></span>
          </div>
        <div class="txt_field">
            <input  type="text" placeholder="Account"/>
            <span id="NameEror" class="error_style"></span>
          </div> 
            
            <button type="submit" class="submit-btn">Submit</button>
                
            </form>
            <p class="message">Do you want to skip?<a href="#">Skip</a></p>
              
        </div>

    </body>
</html>