{%load static%}
<html>
<head>
    <title>Seller Center</title>
    <link rel="stylesheet" href="{%static '/css/SellerSignUp.css'%}">
</head>
    <body>
        <div class="container">
        <div class="card">
        <div class="inner-box" id="card">
        <div class="card-front">
            <img src="back.jpg" class="img-back">
            <h2>LOGIN</h2>
            <form method="POST" action="{%url 'Home_Module:login'%}" onsubmit="return loginSubmit()">
                {% csrf_token %}
                <div>
                <input type="hidden" name="is_seller" value="seller">
               <input  name="username" id="loginUsername"   type="text" class="input-box" placeholder="Username" />
                <span id="nameError" class="error_style"></span>
                </div>
                <div>
                <input  name="password" id="loginPasswd"   type="password" class="input-box" placeholder="Password" />
                <span id="pswdError" class="error_style">{{errorMessage}}</span>
                </div>
                <input type="checkbox" class="input-check"><span class="input-span">Remember me</span>
                <button id="login_btn"   class="submit_btn" >Login</button>
                
            </form>
           <p class="forget"> <a href="">Forget password</a></p>
            <p class="message">Not Registered?<a href="#" onclick="openRegister()">Register</a></p>
       </div>
        <div class="card-back">
            <img src="back.jpg" class="img-back">
            <h2>REGISTER</h2>
            <form method="POST" action="{%url 'Home_Module:signup'%}">
                {% csrf_token %}
                <input type="hidden" name="is_seller" value="seller">
                <div>
                <input  name="username" id="username"  onkeyup="handleChangeRegister(id)" onfocus="handleFocus(id)"  type="text" class="input-box" placeholder="Username" />
                <span id="usernameError" class="error_style"></span>
                </div>
                 <div>
                <input  name="email" id="email" onkeyup="handleChangeRegister(id)" onfocus="handleFocus(id)"   type="email" class="input-box" placeholder="Email" />
                <span id="emailError" class="error_style"></span>
                </div>
                 <div>
                <input  name="password" id="password" onkeyup="handleChangeRegister(id)" onfocus="handleFocus(id)"   type="password" class="input-box" placeholder="Password" />
                <span id="passwordError" class="error_style"></span>
                </div>
                 <div>
                <input  name="cnfrmPassword" id="cnfrmPassword" onkeyup="handleChangeRegister(id)" onfocus="handleFocus(id)" id="SellercnfrmPswd"   type="password" class="input-box" placeholder="Confirm password" />
                <span id="cnfrmPasswordError" class="error_style"></span>
                </div>
                <input id="chkbox" type="checkbox" onchange="handleChangeRegister(id)" class="check_box"/><span class="checkbox_style" id="registerSpan">I agree all terms&policy of E-MART.</span>
                <button id="regbtn" disabled type="submit" class="submit-btn">Register</button>
                
            </form>
            
<!--            <button type="button" class="btn" onclick="openLogin()">I've an account</button>-->
            <p class="message">Registered?<a href="#" onclick="openLogin()">Login</a></p>
       </div>
                    
        </div>
            
        </div>
        
        </div>
    
        <script  src="{%static  'javascript/Seller.js' %}"></script>
        <script  src="{%static  'javascript/SignUp.js' %}"></script>
        
        
    </body>
</html>