{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seller Center</title>
	<link rel="stylesheet" href="{%static '/css/home_Seller.css'%}">
  <link rel="stylesheet" href="{%static '/css/changePass.css'%}"/>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" href="{%static '/css/logout.css'%}"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">EMart</div>
      <ul>
        <li><a href="#">
          <span class="fas fa-search"></span></a>
        </li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li>{{user.username}}</li>
      </ul>
    </div>
  </div>
  <div class="sidebar">
    <ul>
      <li><a href=""><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Order & Reviews</a></li>
      <li><a href="">Promotionns</a></li>
      <li><a href="">Advertising</a></li>
      <li><a href="">Finance</a></li>
      <li class="dropdown"><a href=""><i class="fa fa-cog" aria-hidden="true"></i>Settings<span>&rsaquo;</span></a>
        <ul>
          <li><a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</a></li>
          <li><a href=""><i class="fa fa-pencil" aria-hidden="true"></i>Update Password</a></li>
          <li><a href="">My Shop</a></li>
        </ul>
      
      </li>
      <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i>Logout</a></li>

    </ul>
  </div>
  
  <div class="main_container">
    <h2 class="title">Page</h2>
   {% block body %}
   {% endblock %}
    <div class="row" id="r1">
      
    </div>
    <div class="categories">
    <div class="small-Cat-container">
      <div class="row">
        <div class="col-3">
            <img src=""/>
            <h2></h2>
        </div>
    
    </div>
    
    </div>
</div>
	<script  src="{%static  'javascript/Seller.js' %}"></script>
        <script  src="{%static  'javascript/SignUp.js' %}"></script>
</body>
</html>
       