{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seller Center</title>
	<link rel="stylesheet" href="{%static '/css/home_Seller.css'%}">
  <link rel="stylesheet" href="{%static '/css/changePass.css'%}"/>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" href="{%static '/css/logout.css'%}"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">EMart</div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i></a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li>{{user.username}}</li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="#">
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <span class="title">Products</span>
          </a></li> 
          <li><a href="#">
            <span class="icon"><i class="fas fa-leaf"></i></span>
            <span class="title">Order & Reviews</span>
            </a></li>
             <li><a href="#">
              <span class="icon"><i class="fas fa-leaf"></i></span>
              <span class="title">Promotionns</span>
              </a></li> 
              <li><a href="#">
                <span class="icon"><i class="fas fa-leaf"></i></span>
                <span class="title">Store Decoration</span>
                </a></li> 
                <li><a href="#">
                  <span class="icon"><i class="fas fa-leaf"></i></span>
                  <span class="title">Growth Center</span>
                  </a></li> 

            <li><a href="#">
              <span class="icon"><i class="fas fa-leaf"></i></span>
              <span class="title">Business Advisor</span>
              </a></li>
        <li><a href="{% url 'Home_Module:update_password' user.username%}">
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <span class="title">Change Password</span>
          </a></li>
    
     
        <li><a href="#">
         <ul>
          <li>profile</li>
         </ul>
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <span class="title">Account</span>
          </a></li>
        <li><a href="{%url 'Home_Module:account_logout' user.username %}">
           <span class="icon"><i class="fas fa-leaf"></i></span>
           <span class="title">Logout</span>
           </a></li> 
    </ul>
  </div>
  
  <div class="main_container">
    <h2 class="title">Page</h2>
    {%block body%}
    {%endblock%}
    <div class="row" id="r1">
      
    </div>
    <div class="categories">
    <div class="small-Cat-container">
      <div class="row">
        <div class="col-3">
            <img src=""/>
            <h2></h2>
        </div>
    
    </div>
    
    </div>
</div>
<script  src="{%static  'javascript/SignUp.js' %}"></script>
</body>
</html>
       