{%extends 'Seller_Module/Seller_base.html'%}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static '/css/seller/UpdatePassword.css'%}">
{%endblock%}
{%block body%}
<div class="color">
    <div class="center">
        <h1 class="heading">Update PASSWORD<h1>
        <form method="POST" action="{%url 'Home_Module:update_password' user.username%}">
            {%csrf_token%}
            <div>
                <input type="password" name="password" id="password" onkeyup="handleResetChange(id)" onfocus="handleFocus(id)"  class="txt_field" placeholder="Old Password" />
                 <span id="passwordError" class="error_style"></span>
             </div> 
            <div>
                <input type="password" name="newPasswd" id="newPassword" onkeyup="handleResetChange(id)" onfocus="handleFocus(id)" class="txt_field" placeholder="Enter New Password">
                <span id="newPasswordError" class="error_style"></span>
            </div>
            <div>
               <input type="password" name="cnfrmPassword" id="cnfrmPassword" onkeyup="handleResetChange(id)" onfocus="handleFocus(id)"  class="txt_field" placeholder="Confirm new Password" />
                <span id="cnfrmPasswordError" class="error_style"></span>
            </div> 
             <button id="resetbtn" disabled type="submit" class="submit_btn">Update Password</button>
        </form>
    </div>
</div>
{%endblock%}
        