.about-div{
    width:70%;
    height:400px;
    position:relative;
    margin: 0 auto;
}
.about-div .about{
    width:70%;
    height:70%;
    background-color: black;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color:white;
    align-items: center;
}
.about-div  h2{
    margin-left: 35%;
}
