.checkout-page{
	height:680px;
	display:flex;
	justify-content: space-between;
	padding: 10px;
  }
  .checkout-page .billing-detail{
	width:60%;
  }
  .checkout-page .billing-detail h4{
	color:white;
	background: black;
	text-transform: uppercase;
	padding: 5px;
	margin-bottom: 10px;
	display: block;
  }
  .checkout-page .checkout-form .form-group{
	margin: 10px 5px;
	width:calc(100% - 10px);
  }
  .checkout-page .checkout-form .inline-form{
	display:flex;
  
  }
  .checkout-page .checkout-form label{
	display: block;
	color:black;
	margin-bottom: 6px;
  }
  .checkout-page .checkout-form input,
  .checkout-page .checkout-form textarea
  {
	width: calc(100% - 10px);
	padding: 8px 5px;
  }
  .checkout-page .checkout-form select{
	width: 100%;
	padding: 8px 5px;
  }
  .checkout-page .checkout-form input:focus,
  .checkout-page .checkout-form select:focus,
  .checkout-page .checkout-form textarea:focus{
	outline: 1px solid gray;
  }
  .selection{
	display:flex;
  }