.payement-page{
    width: 500px;
    height: 500px;
   justify-content: space-between;
   padding: 25px;
     background:linear-gradient(#29b6f6,white,#aed581);
     position: absolute;
     top:70%;
     left:50%;
     transform: translate(-50%, -50%);
     display: none;
     
 }
 .pay h2{
     color:purple;
     font-size: 24px;
     padding: 10px;
     margin-bottom: 20px;
     text-align: center;
     border: 1px dotted plum;
 }
 .pay h4{
     padding-bottom: 5px;
     color: purple;
 }
 .i_group{
     margin-bottom: 8px;
     width: 100%;
     position: relative;
 
 }
 .input_box{
     margin-right: 12px;
     margin-top: 10px;
     width: 100%;
 }
 .name{
     padding:14px 10px 14px 50px;
     margin-top: 10px;
     width:100%;
 }
 .checking span{
     margin-left: 5px;
     color: black;
 
 }
 #show:checked ~ .payement-page{
     display: block;
 }
 .pay .close{
     position: absolute;
     right: 25px;
     top:15px;
     font-size: 18px;
     cursor: pointer;
 }