.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border:1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin:0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border:1px solid #ff523b;
    margin-left:10px;
    width: 40px;
    height:40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background:#ff8a80;
    color: black;
    font-weight: bold;

}

/*Product Details*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left:10px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid black;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.btn-style{
  position: absolute;
  margin:5px;
}
.fb-btn-back{
    background-color: #ff523b;
}
.input{
    width: 100px;
}