{% extends 'base.html' %}
{% load static %}
{% block body %}
	<div class="small-container cart-page">
        <div>
        <a href="{%url 'Home_Module:home'%}" class= "Cartbtn">&#x2190;Continue Shopping </a>
        </div>
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>SubTotal</th>
            </tr>
            {%for cart in carts%}
            <tr>
                <td>
                    <div class="cart-info">
                        <img  src="{{cart.product.image1.url}}">
                        <div>
                            <p>{{cart.product}}</p>
                            <small id="price">Price:{{cart.product.price}}</small>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input id="qty" type="number" value="{{cart.qty}}"></td>
                <td id="sub" onload="console.log(loaded)"></td>
            </tr>
            {%endfor%}
            
        </table>
        <button  href="" class= "Checkoutbtn">Checkout &#8594; </button>
    </div>
{% endblock %}
