{% extends 'base.html' %}
{% load static %}
{% block body %}
	<div class="container">
            <div class="row">
                <div class="col-2">
                     <div class="sizing2">
                    <div class="box-element">
                    <div>
                        <a href="{%url 'Home_Module:home'%}" class= "Cartbtn">&#x2190;Continue Shopping </a>
                    </div>
                    <table id="table">
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        {%for cart in carts%}
                        <input type="hidden"  value={{cart.id}} > 
                        <tr>
                            <td><input id="{{cart.id}}" onchange="calBill(id)" type="checkbox"/></td>
                            <td>
                                <div class="cart-info">
                                    <img  src="{{cart.product.image1.url}}">
                                    <div>
                                        <p>{{cart.product}}</p>
                                        <small id="p{{cart.id}}">Price:{{cart.product.price}}</small>
                                        <a href="{%url 'Home_Module:delete_cart' cart.id%}">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td><input id="qty{{cart.id}}" name={{cart.id}} onchange="calsubTotal(name)" type="number" min="1" max="{cart.product.quantity}" value="{{cart.qty}}"></td>
                            <td id="sub{{cart.id}}" ></td>
                        </tr>
                         {%endfor%}
                    </table>
                    </div>
                    </div> 
                </div>
                <div class="col-2">
                    <div class="sizing">
			        <div class="box-element">
				        <h3>Order Summary</h3>
				        <hr>
				        <div class="cart-row">
					        <div style="flex:2"><p>Subtotal (0 items)</p></div>
					        <div style="flex:1"><p id="sub">Rs:0</p></div>
				        </div>
                        <div class="cart-row">
					        <div style="flex:2"><p>Shipping Fee</p></div>
					        <div style="flex:1"><p>RS. 0</p></div>
				        </div>
                        <div>
                        <input class= "CartInput" placeholder="Enter Your Shipping Code.."> </input>
                        <button class= "Checkoutbtn">APPLY</button>
                        </div>
                        <div class="cart-row">
					        <div style="flex:2"><p>Total</p></div>
					        <div style="flex:1"><p>RS. 0</p></div>
				        </div>
                        <div>
                        <button class= "proceed">PROCEED TO CHECKOUT</button>
                        </div>
			        </div>
                    </div>
		        </div>
            </div>
        </div>
{% endblock %}