{%extends 'base.html'%}
{%load static%}

{%block body%}
<div class="center">
<h1>Update Password</h1>
<form method="POST" action="{%url 'Home_Module:update_password'%}" >
    {% csrf_token %}
    <div>
        <input type="password" name="password"  id="password"  onkeyup="handleResetChange(id)" onfocus="handleFocus(id)" class="txt_field" placeholder="Enter Current password"/>
        <span id="passwordError" class="error_style"></span>
    </div>
    <div>
        <input type="password" name="password"  id="newpassword"  onkeyup="handleResetChange(id)" onfocus="handleFocus(id)" class="txt_field" placeholder="Enter new password"/>
        <span id="newpasswordError" class="error_style"></span>
    </div>
    <div>
        <input type="password" name="cnfrmPassword" id="cnfrmPassword" onkeyup="handleResetChange(id)" onfocus="handleFocus(id)"  class="txt_field" placeholder="Confirm new Password" />
        <span id="cnfrmPasswordError" class="error_style"></span>
    </div> 
    <button id="resetbtn" type="submit" disabled class="submit_btn">Reset Password</button>
</form>
</div>
{%endblock%}