{%extends variable%}
{%load static%}

{%block body%}
<div class="offer">
<div class="small-container">
    <div class="row">
        <div class="col-2">
            <img class="offer-img" src="{%static '/Images/changePass.jpg' %}" width="100%"/>
        </div>
        <div class="col-2">
            <h1>Update Password</h1>
            <form method="POST" action="{%url 'Home_Module:update_password' user.username%}">
                {% csrf_token %}
                <div>
                    <input type="password" name="password"  id="password"  onfocus="handleFocus(id)" class="txt_field" placeholder="Enter Current password"/>
                    <span id="passwordError" class="error_style"></span>
                </div>
                <div>
                    <input type="password" name="newPasswd"  id="newPassword"  onkeyup="handleResetChange(id)" onfocus="handleFocus(id)" class="txt_field" placeholder="Enter new password"/>
                    <span id="newPasswordError" class="error_style"></span>
                </div>
                <div>
                    <input type="password" name="cnfrmPassword" id="cnfrmPassword" onkeyup="handleResetChange(id)" onfocus="handleFocus(id)"  class="txt_field" placeholder="Confirm new Password" />
                    <span id="cnfrmPasswordError" class="error_style"></span>
                </div>
                <button id="resetbtn" type="submit" disabled class="Visitbtn">Update Password</button>
            </form>
             
        </div>
    </div>
</div>
</div>
{%endblock%}