
{% load static%}

<head>
    %block staticfiles%
    %endblock%
</head>


<link rel="stylesheet" type="text/css" href="{%static '/css/forget.css'%}" >

<div>
        <form  class="form_style"  method="POST" action="{%url 'Home_Module:forget'%}">
            {% csrf_token %}
            <div class="form-box">
                
                <div class="heading">
                    <h2>Forgot Password??</h2>
                </div>
                 <input name="email" type="email" required  class="input_field" placeholder="Please Enter Your Email"/>
                    
                <button type="submit"  class="submit_btn" >Send Verification Code</button>
                <span>{{errorMessage}}</span>
            </div>
        </form>
        <a  class="goBack" href="{%url 'Home_Module:signup'%}">Go back</a>
</div>