{%extends 'base.html'%}
{% load static%}
<head>
%block staticfiles%

%endblock%
</head>
{% block body %}


<div class="container">
        <form id="register" class="form_style" method="POST" action="{%url 'Home_Module:forget'%}">
            {% csrf_token %}
            <div class="forget-form-box">
                <div>
                    <img class="rounded" src="{%static '/Images/forget.jpg'%}"/>
                </div>
                <div class="heading">
                    <h2>Forgot Password??</h2>
                </div>
                <div class="paragraph">
                    <pre>
                    Please Enter Your Email so that we'll 
                    send you a link to reset your password.
                    </pre>
                </div>
                <div>
                    <input name="email" type="email" class="forget_input_field" placeholder="Please Enter Your Email"/>
                </div>
                <button id="login_btn" type="submit" class="forget_btn" >Send Verification Code</button>
                <a  class="goBack" href="{%url 'Home_Module:signup'%}">Go back</a>
            </div>
        </form>
</div>
{% endblock %}