{%extends 'base.html'%}
{%load static%}

{%block body%}
    <div class="home">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>WELCOME TO EMART!!</h1>
                <p>EMART is one of the best online-shopping website.<br>You can buy quality products within suitable prices.<br>abacagahrfktcgsdfdyh ajhsgdftfhdjsmajhsdyrh kasjduru <br>LOOT LO MELA LOOT LO MELA.</p>
                <a href="" class= "Visitbtn">Visit EMART &#8594;</a>
            </div>
            <div class="col-2">
                <img src="/Images/products/images/welcome.png"/>
            </div>
        </div>
    </div>
    </div>
<!-------------------------Categories-------------->
<h2 class="title">Categories</h2>
<div class="categories">
<div class="small-Cat-container">
    <div class="row">
        <div class="col-3">
            <a href="{%url 'Home_Module:search' 'men'%}">
                <img src="/Images/products/images/bilal.jpg"/>
            </a>
            <h4 name="query">MEN's Fashion</h4>
        </div>
        <div class="col-3">
            <a href="{%url 'Home_Module:search' 'Women'%}">
                <img src="/Images/products/images/Aima.jpg"/>
            </a>
            <h4 name="query">Women's Fashion</h4>
        </div>
        <div class="col-3">
            <a href="{%url 'Home_Module:search' 'WBJ'%}">
                <img src="/Images/products/images/bag2.jpeg"/>
            </a>
            <h4 name="query">Bags & Jewellery</h4>
        </div>
        <div class="col-3">
            <a href="{%url 'Home_Module:search' 'Electronics'%}">
                <img src="/Images/products/images/electronics.jpg"/>
            </a>
            <h4 name="query">Electronic Devices</h4>
        </div>
        <div class="col-3">
            <a href="{%url 'Home_Module:search' 'accessories'%}">
                <img src="/Images/products/images/headphone.jpg"/>
            </a>
            <h4 name="query">E-Accessories</h4>
        </div>
        
        <div class="col-3">
            <a href="{%url 'Home_Module:search' 'home'%}">
                <img src="/Images/products/images/home.jpg"/>
            </a>
            <h4 name="query">Home Applainces</h4>
        </div>
        <div class="col-3">
            <a href="{%url 'Home_Module:search' 'sports'%}">
                <img src="/Images/products/images/sports.png"/>
            </a>
            <h4 name="query">SPORTS </h4>
        </div>
    </div>
</div>

</div>
<!------------------------Featured Products------------>
<div class="small-container">
<h2 class="title">Featured Products</h2>
<div class="row">
    <div class="col-4">
        <img src="/Images/products/images/product-1.jpg">
        <h4 class="productsH4">Red printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-2.jpg"/>
        <h4 class="productsH4">Shoes</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-3.jpg"/>
        <h4 class="productsH4">Jeans</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-4.jpg"/>
        <h4 class="productsH4">Black printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
</div>
<h2 class="title">Latest Products</h2>
<div class="row">
    <div class="col-4">
        <img src="/Images/products/images/product-5.jpg"/>
        <h4 class="productsH4">Red printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-6.jpg"/>
        <h4 class="productsH4">Shoes</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-7.jpg"/>
        <h4 class="productsH4">Jeans</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-8.jpg"/>
        <h4 class="productsH4">Black printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="/Images/products/images/product-9.jpg"/>
        <h4 class="productsH4">Red printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-10.jpg"/>
        <h4 class="productsH4">Shoes</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-11.jpg"/>
        <h4 class="productsH4">Jeans</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
    <div class="col-4">
        <img src="/Images/products/images/product-12.jpg"/>
        <h4 class="productsH4">Black printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>$50.00</p>
        
    </div>
</div>
</div>
<!----------------------Offers Section---------------------------->
<div class="offer">
<div class="small-container">
    <div class="row">
        <div class="col-2">
            <img class="offer-img" src="/Images/products/images/exclusive.png"/>
        </div>
        <div class="col-2">
            <p>Exclusively Available Product on EMART.</p>
            <h1>Smart Brand</h1>
            <small>In marketing, a product is an object or system made available for consumer use;
             it is anything that can be offered to a market to satisfy the desire or need of a customer.
             In retailing, products are often referred to as merchandise, and in manufacturing, products 
             are bought as raw materials and then sold as finished goods.
             </small>
             <a href="" class="Visitbtn">Buy Now &#8594;</a>
        </div>
    </div>
</div>
</div>

{%endblock%}

    
              
  


<!--<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <a href="{%url 'Home_Module:signup'%}">Login</a>
        {%if LoginCust is not None%}
        {{LoginCust.username}}
        {%endif%}
        {%if user.is_authenticated%}
        {{user.first_name}}<br>
        {%endif%}
        
    </body>
</html>