
{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-commerce|E-Mart</title>
        <link rel="stylesheet" href="{%static '/css/home.css'%}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="head">
                        <h1>E-Mart</h1>
                        <img src="{%static '/Images/menu.png'%}" class="menu-icon" onclick="menutoggle()"/> 
                    </div>
                    <nav>
                        <ul id="MenuItems">
                            <li><a  href="{%url 'Home_Module:home'%}"/>Home</li>
                            <li><a href=""/>About</li>
                            <li><a href="{%url 'Home_Module:contact'%}"/>Contact</li>
                            <li><a href="{%url 'Home_Module:signup'%}"/>Login</li>
                            <li><a href=""/>Product</li>
                        </ul>
                    </nav>
                    <img class="cart-img" src="{%static '/Images/cart.jpg' %}"/>  
                </div>
                <div class="row">
                    <div class="col-2">
                        <h1>WELCOME TO EMART!!</h1>
                        <p>EMART is one of the best online-shopping website.<br>You can buy quality products within suitable prices.<br>abacagahrfktcgsdfdyh ajhsgdftfhdjsmajhsdyrh kasjduru <br>LOOT LO MELA LOOT LO MELA.</p>
                        <a href="" class= "Visitbtn">Visit EMART &#8594;</a>
                    </div>
                <div class="col-2">
                    <img src="{%static '/Images/image1.png' %}"/>
                </div>
            </div>
        </div>
        </div>

        <!------------------------Featured Categories------------>
        <div>
        
        </div>
        <h2 class="title">Categories</h2>
        <div class="categories">
            <div class="small-Cat-container">
                <div class="row">
                    <div class="col-3">
                        <img src="{%static '/Images/category-1.jpeg' %}"/>
                        <h2>Digital Cameras</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-2.jpeg' %}"/>
                        <h2>Bluetooth Head Set</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-3.jpeg' %}"/>
                         <h2>Necklaces</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-1.jpeg' %}"/>
                         <h2>Necklaces</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-2.jpeg' %}"/>
                         <h2>Necklaces</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-3.jpeg' %}"/>
                         <h2>Necklaces</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-2.jpeg' %}"/>
                         <h2>Necklaces</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-2.jpeg' %}"/>
                         <h2>Gents Shoes</h2>
                    </div>
                    <div class="col-3">
                        <img src="{%static '/Images/category-2.jpeg' %}"/>
                         <h2>Digital Watch</h2>
                    </div>
                </div>
            
            </div>
        
        </div>
        <!------------------------Featured Products------------>
        <div class="small-container">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src"{%static '/Images/product-1.jpg' %}"/>
                    <h4 class="productsH4">Red printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-2.jpg' %}"/>
                    <h4 class="productsH4">Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-3.jpg' %}"/>
                    <h4 class="productsH4">Jeans</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-4.jpg' %}"/>
                    <h4 class="productsH4">Black printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                       <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
            </div>
            <h2 class="title">Latest Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="{%static '/Images/product-5.jpg' %}"/>
                    <h4 class="productsH4">Red printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-6.jpg' %}"/>
                    <h4 class="productsH4">Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-7.jpg' %}"/>
                    <h4 class="productsH4">Jeans</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-8.jpg' %}"/>
                    <h4 class="productsH4">Black printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                       <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="{%static '/Images/product-9.jpg' %}"/>
                    <h4 class="productsH4">Red printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-10.jpg' %}"/>
                    <h4 class="productsH4">Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-11.jpg' %}"/>
                    <h4 class="productsH4">Jeans</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
                <div class="col-4">
                    <img src="{%static '/Images/product-12.jpg' %}"/>
                    <h4 class="productsH4">Black printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                       <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$50.00</p>
                    
                </div>
            </div>
        </div>
<!----------------------Offers Section---------------------------->
        <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img class="offer-img" src="{%static '/Images/exclusive.png' %}"/>
                    </div>
                    <div class="col-2">
                        <p>Exclusively Available Product on EMART.</p>
                        <h1>Smart Brand</h1>
                        <small>In marketing, a product is an object or system made available for consumer use;
                         it is anything that can be offered to a market to satisfy the desire or need of a customer.
                         In retailing, products are often referred to as merchandise, and in manufacturing, products 
                         are bought as raw materials and then sold as finished goods.
                         </small>
                         <a href="" class="Visitbtn">Buy Now &#8594;</a>
                    </div>
                </div>
            </div>
        </div>
        <!-----------------Brands-------------->
            <div class="brands">
                <div class="small-container">
                    <div class="row">
                        <div class="col-5">
                            <img src="{%static '/Images/logo-godrej.png'%}"/>
                        </div>
                        <div class="col-5">
                            <img src="{%static '/Images/logo-oppo.png'%}"/>
                        </div>
                        <div class="col-5">
                            <img src="{%static '/Images/logo-coca-cola.png'%}"/>
                        </div>
                        <div class="col-5">
                            <img src="{%static '/Images/logo-paypal.png'%}"/>
                        </div>
                        <div class="col-5">
                            <img src="{%static '/Images/logo-philips.png'%}"/>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="main-content">
                    <div class="left box">
                        <h2>About Us</h2>
                        <div class="content">
                            <p class="text">EMART is one of the best E-commerce website, with help of which you
                            can sale or purchase high quality products with ease.</p>
                        </div>
                        <div class="social">
                            <a href="" ><span class="fab fa-facebook-f"></span></a>
                            <a href="" ><span class="fab fa-instagram"></span></a>
                            <a href="" ><span class="fab fa-twitter"></span></a>
                        
                        </div>
                    </div>
                    <div class="center box">
                    <h2>Address</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">University of Punjab, Anarkali Main Market.</spna>
                        
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone"></span>
                            <span class="text">0900-78601 Telephone</spna>
                        
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">eMart1234@gmail.com</spna>
                        
                        </div>
                    </div>
                </div>
                <div class="right box">
                    <h2>Contact Us</h2>
                    <div class="content">
                        <form action="#">
                            <div class="email">
                                <div class="text">Email*</div>
                                <input type="email" required />
                            </div>
                            <div class="message">
                                <div class="text">Message*</div>
                                <textarea rows="2" cols="25" required></textarea>
                            </div>
                            <div>
                                <button class="Visitbtn"type="submit">Send</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
                </div>
                <hr>
                <p class="copyright">@Copyroght 2021-EMART.com</p>
            </footer>
            <script src="{% static 'JavaScript/home.js' %}"></script>
        </body>
</html>


<!--<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <a href="{%url 'Home_Module:signup'%}">Login</a>
        {%if LoginCust is not None%}
        {{LoginCust.username}}
        {%endif%}
        {%if user.is_authenticated%}
        {{user.first_name}}<br>
        {%endif%}
        
    </body>
</html>