{%extends variable %}
{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block body %}
  <div class="container">
  <form  class="logout-form main-div" method="post" {%if user.is_social_user%} action="{% url 'account_logout' %}" 
  {%elif user.is_seller%} action="{% url 'Home_Module:seller_logout' %}" 
  {%else%} action="{% url 'Home_Module:cust_logout' %}" {%endif%}>

  {% csrf_token %}
    <div class="heading">
      <h1>{% trans "Sign Out" %}</h1>
    </div>
    <p class="paragraph">{% trans 'Are you sure you want to sign out?' %}</p>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="logout-div">
      <button type="submit" class="fb_btn styling">{% trans 'Sign Out' %}</button>
      <a {%if user.is_seller%} href="{%url 'Home_Module:seller_center'%}" {%else%} href="{%url 'Home_Module:home'%}" {%endif%} class="fb_btn styling">{% trans 'Cancel' %}</a>
    </div>
    </form>
</div>
{% endblock %}