{%extends 'base.html'%}
{%load static%}
{%block body%}
    {%if products%}
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sort</option>
                <option>Sort by Price</option>
                <option>Sort by Rating</option>
                <option>Sort By popularity</option>
            
            </select>
        </div>
        <div class="row">
            {%for product in products%}
            <div class="col-4">
                <p>
                    <a href="{%url 'Home_Module:productDetail' product.id%}">
                    <img src="{{product.image1.url}}">
                    </a>
                </p>
                <h4 class="productsH4">{{product.productName}}</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>{{product.price}}</p>
            </div>
            {%endfor%}
        </div>
        </div>
        {%else%}
            <div class="container">
                <div class="logout-form">
                    <div class="heading">
                        <h1>OOPS!!</h1>
                    </div>
                    <div class="paragraph">
                        <h3>No Products to Show</h3>
                    </div>
                </div>
                
            
            </div>
        {%endif%}
        
{%endblock%}