{%extends 'base.html'%}
{%load static%}
{%block body%}
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{product.image1.url}}" id="productImg" alt="no image"/>
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="{{product.image1.url}}"  alt="no image" class="small-img" onclick="clickMe(this)" />
                    </div>
                    {%if product.image2%}
                    <div class="small-img-col">
                        <img src="{{product.image2.url}}"  alt="no image" class="small-img" onclick="clickMe(this)" />
                    </div>
                    {%endif%}
                    {%if product.image3%}
                     <div class="small-img-col">
                        <img src="{{product.image3.url}}"  alt="no image" class="small-img" onclick="clickMe(this)" />
                    </div>
                    {%endif%}
                    {%if product.image4%}
                     <div class="small-img-col">
                        <img src="{{product.image4.url}}"  alt="no image" class="small-img" onclick="clickMe(this)" />
                    </div>
                    {%endif%}
                
                </div>
            
            </div>
            <div class="col-2">
            <h1>{{product.productName}} by {{product.brand}} </h1>
            <h3>Price:{{product.price}} rupees</h3><br>
            <h3>Product Details<i class="fa fa-indent"></i></h3>
            <h3>Available Quantity:{{product.quantity}}</h3>
            <br>
            <p>{{product.description}}</p>
            <form method="POST" action="{%url 'Home_Module:productDetail' product.id %}">
               {%csrf_token%}
                <input type="number" name="qty" min="1" value="1" max="{{product.quantity}}" class="input" ></input><br>
                <div class="btn-style">
                    <button  class= "fb_btn fb-btn-back">Add to cart</button>
                    <a href="" class= "fb_btn ">BUY Now</a>
                </div>
            </form>
            </div>
        </div>
    </div>
    
    <div class="small-container">
        <div clas="small-container">
            <div class="row row-2">
                <h2>Related Images</h2>
                <a>View More</a>
            </div>
        </div>
        <div class="row">
            {%if rProd%}
                {%for Prod in rProd%}
                    <div class="col-4">
                        <a href="{%url 'Home_Module:productDetail' Prod.id%}">
                            <img src="{{Prod.image1.url}}">
                        </a>
                    <h4 class="productsH4">{{Prod.productName}} by {{Prod.brand}}</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>Price:{{Prod.price}} rupees</p>
                </div>
                {% endfor %}
            {%else%}
            <div>
                <h3>No products To show</h3>
            </div>
            {%endif%}
        
        </div>
    </div>
{%endblock%}
