<html>
    <head>
        <title>Reset Password</title>
    </head>
    <body>
        <form method="POST" action="{%url 'Home_Module:reset_password_done'%}">
            {% csrf_token %}
            <input type="hidden" name="username" value={{username}}>
            <input type="password" name="password" placeholder="Enter new password">
            <input type="password" name="cnfrmPassword" placeholder="Confirm new Password">
            <button type="submit">Confirm</button>
        </form>
    </body>
</html>