{%load static%}

<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" href="{%static '/css/reset.css'%}"/>
         <script  src="{%static  'javascript/SignUp.js' %}"></script>
    </head>
    <body>
        <div class="center">
            <h1>RESET PASSWORD<h1>
            <form method="POST" action="{%url 'Home_Module:reset_password_done'%}">
                {% csrf_token %}
                <div>
                    <input type="hidden" name="username" class="txt_field" value={{username}}>
                </div>
                <div>
                    <input type="password" name="password"  id="password"  onkeyup="handleResetChange(id)" onfocus="handleFocus(id)" class="txt_field" placeholder="Enter new password"/>
                    <span id="passwordError" class="error_style"></span>
                </div>
                <div>
                   <input type="password" name="cnfrmPassword" id="cnfrmPassword" onkeyup="handleResetChange(id)" onfocus="handleFocus(id)"  class="txt_field" placeholder="Confirm new Password" />
                    <span id="cnfrmPasswordError" class="error_style"></span>
                </div> 
                 <button id="resetbtn" type="submit" disabled class="submit_btn">Reset Password</button>
            </form>
        </div>
        </div>
    </body>
</html>