{% extends 'base.html' %}
{% load static %}
{% block body %}
        <div class="row">
		<div class="col-2">
			<div class="box-element" id="form-wrapper">
				<form id="form" method="POST" action="{%url 'Home_Module:checkout'%}">
					<div id="user-info">
						<div class="form-field">
							<input required class="form_control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form_control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form_control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form_control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form_control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form_control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form_control" type="text" name="country" placeholder="Zip code..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="Checkoutbtn" href="">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{%static '/Images/gallery-1.jpg' %}"></div>
					<div style="flex:2"><p>Product1</p></div>
					<div style="flex:1"><p>$1200 </p></div>
					<div style="flex:1"><p>x23 </p></div>
				</div>
				<h6>Items: 10</h6>
				<h6>Total:   $ 10,000</h6>
			</div>
		</div>
	</div>
{%endblock%}