{%extends 'base.html'%}
{% load static%}
{% load socialaccount %}
{% providers_media_js %}
{% load account %}

{% block content %}

        <div>
                <div class="form-box">
                    <div class="button-box">
                        <div id="btn_back"></div>
                        <button  class="toggle_btn" onclick="login()">Login</button>
                        <button  class="toogle_btn" onclick="register()">Register</button>
                    </div>
                    <div class="div_head">
                        <h3>WELCOME TO EMART</h3>
                    
                    </div>
                    <form id="login" class="form_style" method="POST" action="{%url 'Home_Module:login'%}"  onsubmit="return loginSubmit()" >
                        {% csrf_token %}
                        <div>
                            <input  name="username" id="loginUsername"   type="text" class="input_field" placeholder="Username"/>
                            <span id="nameError" class="error_style"></span>
                        </div>
                        <div>
                            <input  name="password" id="loginPasswd"   type="password" class="input_field" placeholder="Password" />
                            <span id="pswdError" class="error_style">{{ErrorMessage}}</span>
                        </div>
                         <div>
                            <input type="checkbox" id="chkbox1" class="check_box"/><span class="checkbox_style">Remember Password</span>
                            <button id="loin_btn" type="submit" class="submit_btn" >Login</button>
                            <a  class="forget" href="{% url 'Home_Module:forget'%}">Forgot Password?</a>
                            <h4>or</h4>
                        </div>

                        <div class="btn_div">
                            <a class="fb_btn" href="{% provider_login_url "facebook" method="oauth2" %}">
                            <img src="{%static '/Images/fb.png'%}"/>
                                Facebook
                            </a>
                            <a class="fb_btn" href="{% provider_login_url "google"  %}">
                                <img src="{%static '/Images/google.jpg'%}"/>
                                    Google
                            </a>
                        </div>
                    </form>
                    
                    <form id="register" class="form_style" method="POST" action="{%url 'Home_Module:signup'%}" >
                        {% csrf_token %}
                        <div>
                            <input name="email" id="email" onfocus="handleFocus(id)" type="email" class="input_field" placeholder="Email*"/>
                            <span id="emailError" class="error_style"></span>
                        </div>
                        <div>
                            <input name="username" id="username" onfocus="handleFocus(id)" type="text" class="input_field" placeholder="Username*" />
                            <span id="usernameError" class="error_style"></span>
                        </div>    
                        <div>
                            <input name="password" id="password" onfocus="handleFocus(id)" type="password" class="input_field" placeholder="Password*"  />
                            <span id="passwordError" class="error_style"></span>
                        </div>
                        <div>
                            <input id="cnfrmPassword" onfocus="handleFocus(id)"  type="password" class="input_field" placeholder="Confirm Password*" />
                            <span id="cnfrmPasswordError" class="error_style"></span>
                        </div>
                        <input id="chkbox" type="checkbox"   class="check_box"/><span class="checkbox_style" id="registerSpan">I agree all terms and policy of E-MART.</span>
                        <button id="regbtn" type="submit"  class="submit_btn">Register</button>

                    </form>
                </div> 
        </div>
{% endblock %}

