{%extends 'base.html'%}
{% load static%}
{% load socialaccount %}
{% providers_media_js %}
{% load account %}

    <!-- <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-commerce|E-Mart</title>
        <link rel="stylesheet" href="{%static '/css/home.css'%}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
       <script  href="{% static 'javaScript/SignUp.js' %}"></script>
    </head> -->
    
<!-------------------------------------------------Login/Registration Form-------------------  -->

<head>
%block staticfiles%
%endblock%
</head>
{%block body%}     
<div class="Login">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>LOGIN TO EMART!!</h1>
                <p>EMART is one of the best online-shopping website.<br>You can buy quality products within suitable prices.<br>abacagahrfktcgsdfdyh ajhsgdftfhdjsmajhsdyrh kasjduru <br>LOOT LO MELA LOOT LO MELA.</p>
                <a href="" class= "Visitbtn">Visit EMART &#8594;</a>
                
            </div>
                <div class="col-2">
                    <div class="form-box">
                        <div class="btn-box">
                            <div id="btn_back"></div>
                            <button type="submit" class="toggle-btn" onclick="login()">Login In</button>
                            <button type="submit" class="toggle-btn" onclick="register()">Register</button>
                        </div>
                        <div class="div_head">
                        <h3>WELCOME TO EMART<h3>
                        </div>
                        <form id="login"  class="input-group" method="POST" action="{%url 'Home_Module:login'%}" onsubmit="return loginSubmit()">
                            {% csrf_token %}
                            <div>
                                <input type="text" id="loginUsername" class="input_field" placeholder="username*" required></input>
                                <span id="nameError"></span>
                            </div>
                            <div>
                                <input id="loginPasswd" type="password" class="input_field" placeholder="Password*" required></input>
                                <span id="passwdError"></span>
                            </div>
                            <div>
                                <input type="checkbox" id="chkbox1" class="check_box"/><span class="checkbox_style">Remember Password</span>
                                <button id="loin_btn" type="submit" class="submit_btn" >Login</button>
                                <a class="forget" href="{% url 'Home_Module:forget'%}">Forgot Password?</a>
                                <h5>or</h5>
                            </div> 
                            <div class="btn_div">
                            <a class="fb_btn" href="{% provider_login_url "facebook" method="oauth2" %}">
                                Facebook
                            </a>
                            <a class="fb_btn" href="{% provider_login_url "google"  %}">
                                Google
                            </a>
                            </div>
                        </form>
                        <form id="register" class="input-group" method="POST" action="{%url 'Home_Module:signup'%}" >
                            {% csrf_token %}
                            <div>
                                <input name="email" id="email" onfocus="handleFocus(id)" onkeyup="handleChangeRegister(id)"  type="email" class="input_field" placeholder="Email*"/>
                                <span id="emailError" class="error_style"></span>
                            </div>
                            <div>
                                <input name="username" id="username" onfocus="handleFocus(id)" onkeyup="handleChangeRegister(id)"  type="text" class="input_field" placeholder="Username*" />
                                <span id="usernameError" class="error_style"></span>
                            </div>    
                             <div>
                                <input name="password" id="password" onfocus="handleFocus(id)" onkeyup="handleChangeRegister(id)"  type="password" class="input_field" placeholder="Password*"  />
                                <span id="passwordError" class="error_style"></span>
                            </div>
                            <div>
                                <input id="cnfrmPassword" onfocus="handleFocus(id)" onkeyup="handleChangeRegister(id)"   type="password" class="input_field" placeholder="Confirm Password*" />
                                <span id="cnfrmPasswordError" class="error_style"></span>
                            </div>
                            <div>
                            <input id="chkbox" type="checkbox" onchange="handleChangeRegister(id)" class="check_box"/><span class="checkbox_style" id="registerSpan">I agree all terms&policy of E-MART.</span>
                            <button id="regbtn" type="submit" disabled  class="submit_btn">Register</button>
                            </div>
                        </form>
                        

                     </div>
                </div>
        </div>
    </div>

</div>
{%endblock%}