{% load static%}
{% load socialaccount %}
{% providers_media_js %}
{% load account %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-commerce|E-Mart</title>
        <link rel="stylesheet" href="{%static '/css/home.css'%}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <div class="header">
            <div class="container">
            <div class="navbar">
                <div class="head">
                    
                    <h1>E-Mart</h1>
                    <img src="{%static '/Images/menu.png'%}" class="menu-icon" onclick="menutoggle()"/> 
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a  href="{%url 'Home_Module:home'%}"/>Home</li>
                        <li><a href=""/>About</li>
                        <li><a href="{%url 'Home_Module:contact'%}"/>Contact</li>
                        <li><a href="{%url 'Home_Module:signup'%}"/>Login</li>
                        <li><a href=""/>Product</li>
                    </ul>
                </nav>
                <img class="cart-img" src="{%static '/Images/cart.jpg' %}"/>  
            </div>
        </div>
        </div>
            {%block content%}
            {%endblock%}
<!------------------------FOOTER-------------------->
            <footer>
                <div class="main-content">
                    <div class="left box">
                        <h2>About Us</h2>
                        <div class="content">
                            <p class="text">EMART is one of the best E-commerce website, with help of which you
                            can sale or purchase high quality products with ease.</p>
                        </div>
                        <div class="social">
                            <a href="" ><span class="fab fa-facebook-f"></span></a>
                            <a href="" ><span class="fab fa-instagram"></span></a>
                            <a href="" ><span class="fab fa-twitter"></span></a>
                        
                        </div>
                    </div>
                    <div class="center box">
                    <h2>Address</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">University of Punjab, Anarkali Main Market.</spna>
                        
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone"></span>
                            <span class="text">0900-78601 Telephone</spna>
                        
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">eMart1234@gmail.com</spna>
                        
                        </div>
                    </div>
                </div>
                <div class="right box">
                    <h2>Contact Us</h2>
                    <div class="content">
                        <form action="#">
                            <div class="email">
                                <div class="text">Email*</div>
                                <input type="email" required />
                            </div>
                            <div class="message">
                                <div class="text">Message*</div>
                                <textarea rows="2" cols="25" required></textarea>
                            </div>
                            <div>
                                <button class="Visitbtn"type="submit">Send</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
                </div>
                <hr>
                <p class="copyright">@Copyroght 2021-EMART.com</p>
            </footer>
            <script src="{% static 'JavaScript/home.js' %}"></script>
        </body>
</html>