{% load static%}
{% load socialaccount %}
{% providers_media_js %}
{% load account %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-Mart</title>
        <link rel="stylesheet" href="{%static '/css/home/home.css'%}"/>
        <link rel="stylesheet" href="{%static '/css/home/checkout.css'%}"/>
        <link rel="stylesheet" href="{%static '/css/home/cart.css'%}"/>
        <link rel="stylesheet" href="{%static '/css/home/changePass.css'%}"/>
        <link rel="stylesheet" href="{%static '/css/home/logout.css'%}"/>
        <link rel="stylesheet" href="{%static '/css/home/messages.css'%}"/>
        <link rel="stylesheet" href="{%static '/css/home/products.css'%}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
       <script src="{% static 'JavaScript/home/home.js' %}"></script>
       <script  src="{%static  'javascript/home/SignUp.js' %}"></script>
       <script  src="{%static  'javascript/home/product.js' %}"></script>
       <script  src="{%static  'javascript/home/checkout.js' %}"></script>
    
    </head>

    <body>
        <div class="header">
            <div class="wrapper">
            <nav>
                <input type="checkbox" id="show-search">
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                <div class="content">
                    <div class="logo"><a href="">E-MART</a></div>
                    <ul class="links">
                        <li><a href="{%url 'Home_Module:home'%}"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href=""><i class="fas fa-info"></i>About</a></li>
                        <li><a  href="{%url 'Home_Module:seller_center'%}"><i class="fa fa-phone"></i>Sell On EMART</a></li>
                        {%if user.is_authenticated and not user.is_staff %}
                        <li><a href="" class="desktop-link" style="color:purple"><i class="fa fa-user"></i>{{user.username}}</i></a>
                            <input type="checkbox" id="show-menus">
                            <label for="show-menus"><i class="fa fa-user"></i>{{user.username}}</i></label>
                            <ul>
                                <li><a href="" /><i class="fa fa-home"></i>My Account</li>
                                {%if not user.is_social_user%}
                                <li><a href="" /><i class="fa fa-pencil-square" aria-hidden="true"></i>Update Profile</li>
                                <li><a href="{%url 'Home_Module:update_password' user.username%}" /><i class="fas fa-key"></i> Update Password</li>
                                {%endif%}
                                <li><a href="" /><i class="fa fa-shopping-cart"></i>My Orders</li>
                                <li><a href="{%url 'Home_Module:account_logout' user.username%}" /><i class="fa fa-lock"></i>Logout</li>
                            </ul>
                        </li>
                        <li><a href="{%url 'Home_Module:cart'%}"><i class="fa fa-shopping-cart"><span class="icon-badage">{{notify}}</span></i>Cart</a></li>
                        {%else%}
                        <li><a href="{%url 'Home_Module:signup'%}"/><i class="fas fa-unlock-alt"></i>Login</li>
                        <li><a href="{%url 'Home_Module:cart'%}"><i class="fa fa-shopping-cart"><span class="icon-badage">0</span></i>Cart</a></li>
                        {%endif%}
                        
                    </ul>
                </div>
                <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
                <form class="search-box" Method="GET" action="{%url 'Home_Module:search'%}">
                    <input type="text" placeholder="Type Something to Search..." name="query">
                    <button class="go-icon" type="submit"><i class="fas fa-long-arrow-alt-right fa-lg"></i></button>
                </form>
                </nav>
            </div>
        </div>
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        {%block body%}
        {%endblock%}
        <!-----------------Brands-------------->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="{%static '/Images/logo-godrej.png'%}"/>
                    </div>
                    <div class="col-5">
                        <img src="{%static '/Images/logo-oppo.png'%}"/>
                    </div>
                    <div class="col-5">
                        <img src="{%static '/Images/logo-coca-cola.png'%}"/>
                    </div>
                    <div class="col-5">
                        <img src="{%static '/Images/logo-paypal.png'%}"/>
                    </div>
                    <div class="col-5">
                        <img src="{%static '/Images/logo-philips.png'%}"/>
                    </div>
                </div>
            </div>
        </div>
      
<!------------------------FOOTER-------------------->
            <footer>
                <div class="main-content">
                    <div class="left box">
                        <h2>About Us</h2>
                        <div class="content">
                            <p class="text">EMART is one of the best E-commerce website, with help of which you
                            can sale or purchase high quality products with ease.</p>
                        </div>
                        <div class="social">
                            <a href="" ><span class="fab fa-facebook-f"></span></a>
                            <a href="" ><span class="fab fa-instagram"></span></a>
                            <a href="" ><span class="fab fa-twitter"></span></a>
                        
                        </div>
                    </div>
                    <div class="center-box box">
                    <h2>Address</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">University of Punjab, Anarkali Main Market.</spna>
                        
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone"></span>
                            <span class="text">0900-78601 Telephone</spna>
                        
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">eMart1234@gmail.com</spna>
                        
                        </div>
                    </div>
                </div>
                <div class="right box">
                    <h2>Contact Us</h2>
                    <div class="content">
                        <form action="#">
                            <div class="email">
                                <div class="text">Email*</div>
                                <input type="email" required />
                            </div>
                            <div class="message">
                                <div class="text">Message*</div>
                                <textarea rows="2" cols="25" required></textarea>
                            </div>
                            <div>
                                <button class="Visitbtn"type="submit">Send</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
                </div>
                <hr>
                <p class="copyright">&#169; Copyroght 2021-EMART.com</p>
            </footer>
        </body>
</html>