{% extends '../base.html' %}

{% block body %}
		<div class="checkout-page cart-page">
			<div class="billing-detail ">

				<form name="shipingDetail" class="checkout-form" action="{%url 'shipping:shipping_detail'%}" onsubmit="return shipValidation()"  method="POST">
					<input type="hidden" name='chk' value="{{chk}}">
					{%csrf_token%}
					<h4>Shipping Information</h4>
					<div class="inline-form">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" name="fname" onkeyup="validateInput(id,'fname_error')" value="{{fname}}">
							<span class="error_style" id="fname_error"></span>
						</div>
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" name="lname" id="lname" onkeyup="validateInput(id,'lname_error')" value="{{lname}}">
							<span class="error_style" id="lname_error"></span>
						</div>		
					</div>
					<div class="form-group">
						<label>Address</label>
						<input type="text" name="address" id="address" onkeyup="validateInput(id,'address_error')" value="{{details.address}}">
						<span class="error_style" id="address_error"></span>
					</div>
					<div class="selection">
					<div class="form-group">
						<label>Country</label>
						<input type="text" name="country" id="country" onkeyup="validateInput(id,'country_error')" value="{{details.country}}">
						<span class="error_style" id="country_error"></span>
					</div>
					<div class="form-group">
						<label>City</label>
						<input type="text" name="city" id='city' onkeyup="validateInput(id,'city_error')" value="{{details.city}}" required>
						<span class="error_style" id="city_error"></span>
					</div>
					</div>
				
					<div class="form-group">
						<label>Zip Code</label>
						<input type="text" name="zip" id="zip" onkeyup="validateInput(id,'zip_error')" value="{{details.zip_code}}">
						<span class="error_style" id="zip_error"></span>
					</div>
					<h4>Contact Details</h4>
					<div class="inline-form">
						<div class="form-group">
							<label>Email</label>
							<input type="email" name="email" id="email" onkeyup="validateInput(id,'email_error')" value="{{details.email}}" >
							<span class="error_style" id="email_error"></span>
						</div>
						<div class="form-group"> 
							<label>Phone Number</label>
							<input type="phone" name="phone" id="phone" onkeyup="validateInput(id,'phone_error')" value="{{details.contact}}">
							<span class="error_style" id="phone_error"></span>
						</div>		
					</div>
				
					<button id="ShipingSubBtn" type="submit" for="show" class="placeOrder">{{button}}</button>
				
				</form>
			</div>
		</div>
		
{%endblock%}