{% extends '../base.html' %}

{% block body %}
		<div class="checkout-page cart-page">
			<div class="billing-detail ">

				<form class="checkout-form" action="{%url 'shipping:shipping_detail'%}"  method="POST">
					<input type="hidden" name='chk' value="{{chk}}">
					{%csrf_token%}
					<h4>Shipping Information</h4>
					<div class="inline-form">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" name="fname" value="{{fname}}">
							<span id="fname_error"></span>
						</div>
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" name="lname" id="lname" value="{{lname}}">
						</div>		
					</div>
					<div class="form-group">
						<label>Adress</label>
						<input type="text" name="address" id="address" value="{{details.address}}">
					</div>
					<div class="selection">
					<div class="form-group">
						<label>Country</label>
						<select name="country" id="s1" onchange="populate()" >
							<option value="{{details.country}}" selected>{{details.country}}</option>
							<option value="Pakistan">Pakistan</option>
							<option value="China">China</option>
							<option value="Turkey">Turkey</option>
							<option value="Saudia">Saudia Arabia</option>
						</select>
					</div>
					<div class="form-group">
						<label>City</label>
						<select name="city" id="s2">{{details.city}}</select>
					</div>
					</div>
					<div class="selection">
						<div class="form-group">
							<label>Zip Code</label>
							<input type="text" name="zip" id="zip" value="{{details.zip_code}}">
						</div>
					</div>
					<h4>Contact Details</h4>
					<div class="inline-form">
						<div class="form-group">
							<label>Email</label>
							<input type="email" name="email" id="email" value="{{details.email}}" >
						</div>
						<div class="form-group">
							<label>Phone Number</label>
							<input type="phone" name="phone" id="phone" value="{{details.contact}}">
						</div>		
					</div>
				
					<button type="submit" for="show" class="placeOrder">{{button}}</button>
				
				</form>
			</div>
		</div>
		
{%endblock%}