h1{
    margin:20px;
}
select{
    border:1px solid #ff523b;
    padding: 5px;
    display: block;
    margin: 20px;
}
select:focus{
    outline: none;
}
.input{
    width: 30%;
    height:30px;
    margin:20px;
    background:ghostwhite;
    font-family: "Roboto",sans-serif;
    font-size:14px;
    display: block;





}
::placeholder{
    padding: 2px;
}
.add{

    display: inline-block;
    background:linear-gradient(to right,blue,#ff4081);
    color:#ffffff;
    padding: 8px 30px;
    margin:30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    
}
.add:hover{
    background:blue;
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

