
.color {
  background-color: aquamarine;
}

.center {
  position: fixed;
  top: 25%;
  left: 30%;
  width: 550px;
  height: 470px;
  background: whitesmoke;
  border-radius: 10px;
}
.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: static;
  border-right: 2px snow;
  width: 60%;
  border-bottom: 2px solid #adadad;
}
.txt_field {
  width: 80%;
  padding: 5px 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  margin-top: 10px;
}
.submit_btn {
  margin-top: 50px;
  width: 50%;
  height: 50px;
  border: 1px solid;
  /*  background: linear-gradient(to right, #6a1b9a, pink);*/
  background-color: blue;
  border-radius: 25px;
  color: #e9f4fb;
}
.submit_btn:hover {
  background-color: #3e8e41;
}
.submit_btn:active {
  background-color: aqua;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.error_style {
  color: red;
  display: block;
  font-size: 15px;
  text-align: left;
  margin-left: 90px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.heading{
  margin-top: 50px;
}